@keyframes colorChange {
  0% {
    background-color: rgb(180, 180, 180);
  }

  100% {
    background-color: rgb(33, 33, 33);
  }
}

.lineBlue {
  z-index: 20;
  width: 100vw;
  height: 20px;
  animation-name: colorChange;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

