.login button {
	width: 130px;
	height: 40px;
	font-size: 1.1em;
	cursor: pointer;
	background-color: #1d459d;
	color: #fff;
	border: none;
	border-radius: 5px;
	transition: all 0.4s;
}

@media screen and (min-width: 375px) {
	.login button {
		height: 50px;
		width: 150px;
	}
}
