.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left_container {
  width: 47%;
  flex-direction: column;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.waves_container {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.splinewaves {
  display: flex;
  object-fit: fill;
  margin: 0;
  padding: 0;
}

.left_container h1 {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
  color: #c8c9c9;
  display: flex;
  text-align: center;
  text-transform: uppercase;
  margin: 20px;
}

.buttons {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 150px;
}

.buttonn {
  max-width: 300px;
  max-height: 50px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  transition: all 0.5s;
  background: linear-gradient(45deg, rgb(0, 200, 255), rgb(25, 0, 255));
  box-shadow: #010101 2px 3px 6px 1px;
}

.buttonn:hover {
  transform: scale(1.1);
}

.gym_container {
  width: 47%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  right: 0;
}

.spline_gym_div {
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 0px;
}

.gym_spline {
  transform: scale(0.85);
}

@media screen and (max-width: 1500px) {
  .gym_spline {
    transform: scale();
    margin-left: 600px;
  }
}

@media screen and (max-width: 1400px) {
  .spline_gym_div {
    position: absolute;
  }
  .gym_spline {
    transform: scale(0.75);
    margin-left: 600px;
  }
  .left_container h1 {
    font-size: 47px;
  }
}

@media screen and (max-width: 1280px) {
  .gym_spline {
    margin-left: 800px;
    transform: scale(0.66);
  }
  .left_container h1 {
    font-size: 50px;
  }
  .left_container h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .gym_spline {
    transform: scale(0.62);
    margin-left: 800px;
  }
  .left_container h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .gym_spline {
    transform: scale(0.5);
    margin-left: 800px;
  }
  .left_container h1 {
    font-size: 30px;
    margin: 30px;
  }
}

@media screen and (max-width: 850px) {
  .left_container {
    height: 50%;
    width: 100%;
  }
  .gym_container {
    width: 100%;
    height: 50%;
    margin-top: 50vh;
  }
  .spline_gym_div {
    width: 100%;
  }
  .gym_spline {
    transform: scale(0.48);
    width: 100%;
    margin: auto;
  }
  .left_container h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
  }
}

@media screen and (max-width: 720px) {
  .left_container {
    height: 50%;
    width: 100%;
  }
  .gym_container {
    width: 100%;
    height: 50%;
    margin-top: 50vh;
  }
  .spline_gym_div {
    width: 100vw;
  }
  .gym_spline {
    transform: scale(0.4);
    margin: 0 auto;
  }
  .left_container h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
  }
}

@media screen and (max-width: 650px) {
  .left_container h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    margin: 15px;
    color: white;
  }
}

@media screen and (max-width: 420px) {
  .left_container {
    height: 50%;
    width: 100%;
    margin-top: 90px;
  }
  .gym_container {
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 50vh;
    width: 100%;
  }
  .spline_gym_div {
    margin-right: 80px;
  }
  .gym_spline {
    transform: scale(0.4);
    margin: 0 auto;
  }
  .left_container h1 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 0px;
    margin: 15px;
    color: white;
  }
  .buttonn {
    width: 220px;
    height: 40px;
  }
}
