.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  /* border: rgb(0, 255, 64) solid 2px; */
  position: relative;
}
.left_container {
  width: 47%;
  display: flex;
  flex-direction: column;
  /* border: rgb(0, 98, 26) solid 2px; */
  height: 100%;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.waves_container {
  display: flex;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.splinewaves {
  display: flex;
  object-fit: fill;
  margin: 0;
  padding: 0;
}

.left_container h1 {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 900;
  color: #c8c9c9;
  display: flex;
  text-align: left;
  margin: 70px;
  text-transform: uppercase;
  /* border: rgb(217, 255, 0) solid 2px; */
}
.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 150px;
  /* border: rgb(217, 255, 0) solid 2px; */
}

.buttonn {
  max-width: 300px;
  max-height: 50px;
  border-radius: 10px;
  width: 300px;
  height: 50px;
  /* background-image: linear-gradient(30deg, #1d459d, #4ce3f7); */
  margin-bottom: 15px;
  color: rgb(255, 255, 255);
  font-weight: 200;
  /* border: rgb(217, 255, 0) solid 2px; */
  border: 2px solid;
}

.gym_container {
  width: 47%;
  height: 100%;
  display: flex;
  /* border: rgb(162, 0, 255) solid 2px; */
  position: absolute;
  overflow: hidden;
  right: 0;
}

.spline_gym_div {
  width: 100%;
  height: 110%;
  margin-top: 70px;
}

@media screen and (max-width: 1400px) {
  .gym_spline {
    transform: scale(0.9);
    margin-left: 50px;
  }
  .left_container h1 {
    font-size: 47px;
  }
}

@media screen and (max-width: 1200px) {
  .gym_spline {
    margin-left: 70px;
    transform: scale(0.85);
  }
  .left_container h1 {
    font-size: 50px;
  }
  .left_container h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 1100px) {
  .spline_gym_div {
  }
  .gym_spline {
    transform: scale(0.7);
    margin-left: 120px;
  }
  .left_container h1 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1000px) {
  .spline_gym_div {
  }
  .gym_spline {
    transform: scale(0.6);
    margin-left: 150px;
  }
  .left_container h1 {
    font-size: 30px;
    margin: 30px;
  }
}

@media screen and (max-width: 850px) {
  .left_container {
    height: 50%;
    width: 100%;
  }
  .gym_container {
    width: 47%;
  }
  .spline_gym_div {
    display: flex;
    margin-top: 120px;
    width: 100vw;
  }
  .gym_spline {
    transform: scale(0.55);
    margin: 0 auto;
  }
  .left_container h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: white;
  }
}

@media screen and (max-width: 720px) {
  .left_container {
    height: 50%;
    width: 100%;
  }
  .gym_container {
    width: 100%;
    border: rgb(255, 255, 255) solid 5px;
  }
  .spline_gym_div {
    display: flex;
    margin-top: 120px;
    width: 100vw;
    height: 630px;
    border: rgb(255, 0, 0) solid 5px;
    box-sizing: border-box;
  }
  .gym_spline {
    position: none;
    margin: 0 auto;
    transform: scale(0.4);
    border: white solid 5px;
  }
  .left_container h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
    color: white;
  }
}

@media screen and (max-width: 376px) {
  .left_container {
    height: 50%;
    width: 100%;
  }
  .gym_container {
    width: 100%;
  }
  .spline_gym_div {
    display: flex;
    margin-top: 1px;
    width: 100vw;
  }
  .gym_spline {
    transform: scale(0.3);
    margin: 0 auto;
    width: 350px;
  }
  .left_container h1 {
    font-size: 17px;
    text-align: center;
    margin-bottom: 30px;
    margin: 15px;
    color: white;
  }
  .button {
    width: 150px;
  }
}
